

#wrapper-cms{

	width: 846px; height: 460px; margin: 0 auto

}
#entrada{ width: 425px; height: 365px; float: left;margin-left: 25px; padding: 30px 25px 0px 107px;
	margin: 30px 0 0 0;


background: url(images/gallery-footer.png) no-repeat bottom ;



font-family: 'arial';





 }

 #entrada h3 { padding: 10px 0px 5px 0px; font-weight: bold; font-size: 15px;}

 #entrada p { font-size: 12px; text-align: justify; margin: 5px 0 5px 0}

.foto-entry{
	width: 420px; height: 270px; display: block; margin: 5px auto 0 auto;
}

#blog-list {
width: 180px;
height: 568px;
float: right;
overflow: auto;
background: url(images/video.gif) repeat-y 39px 416px;
-webkit-box-shadow: inset 0px 5px 20px 5px rgba(0, 0, 0, .7);
        
        box-shadow: inset 0px 5px 20px 5px rgba(0, 0, 0, .7);
}

.entry-list{ width: 130px; height: 415px; margin: 0 0 0 41px; overflow: hidden;
	background: url(images/film.gif) repeat-y center;
	-webkit-box-shadow: inset 0px 5px 20px 5px rgba(0, 0, 0, .7);
        
        box-shadow: inset 0px 5px 20px 5px rgba(0, 0, 0, .7);
}

       


    
}

.entry-list-thumb{

	width: 117px; height: 65px;
	margin: 0 auto;
	background:#f1f1f1;

}

.entry-list-thumb:hover{ background: #e2e2e2;
	background: url(images/film-black.gif) repeat-y;
	background-position: 8px center;
	;


}

.entry-list-cont{
	width: 130px; height: 130px;
	float: left;
	padding: 10px
}

.entry-list-cont h4 { font-size: .90em; font-family: 'arial'; margin-bottom: 10px; font-weight: bold; }

.entry-list-resume {

	width: 130px;
	height: 80px;
	float: left;
	font-size: .65em;
	font-family: 'arial';
	margin-bottom: 10px;

}

.entry-list-date {

	width: 50px; height: 35px;
	float: right;
	font-size: .75em;
	font-family: 'arial';
	color:#0087cf;

}

hr { border: 1px  dotted #bebebe; width:85%; margin: 20px auto  20px auto;}


.clear { clear: both;}


/* thumb centrado */

.centro{ margin: 0 auto; display: block;}


/*===============DATOS-----------======================*/

#metadatos{

	margin: 64px 0 0 0;
	font-size: 12px;
	line-height: 18px;
}

#title, #lugar, #fecha{
	color: #cfcfd0;
}





















